@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
/*font-family: 'Lato', sans-serif; */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #fafafa;
}
hr{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* Header styling */
.header-container{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.header-form-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

/* End header styling */

/* Form styling */
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
}
form > input{
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  height: 2rem;
  padding: 10px;
  box-shadow: 0px 0px 5px black;
  transition: box-shadow 250ms ease-in-out;
  margin-bottom: 15px;
}

form > input:focus{
  outline: none;
  box-shadow: 0px 0px 5px green;
  transition: box-shadow 250ms ease-in-out;
}
form > button{
  width: 30%;
  margin: auto;
  cursor: pointer;
  height: 2rem;
  font-family: 'Lato', sans-serif;
  
}

.button-searching{
  width: 30%;
  margin: auto;
  cursor: wait;
  height: 2rem;
  font-family: 'Lato', sans-serif;
}

/* End Form Styling */

/* Weather info styling */

.weather-container{
 padding: 1%;
 background-color: #ffffff;
 border-radius: 15px;
 box-shadow: 0px 0px 10px #4d4d4d;

 width: fit-content;
 margin: auto;
}

.weather-container-header-container{
  display: flex;
  flex-direction: column;
}
.weather-container-header{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

.weather-header-icon{
 width: 50%;
 margin: auto;
 border-radius: 50%;
}

.weather-main-temp{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

.weather-main-description{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
}

.weather-info{
  padding: 0px 10px 0px 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 400;

  justify-content: space-around;
}
.weather-info-row{
  display: flex;
  justify-content: space-between;
}
/* End Weather info styling */