@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
/*font-family: 'Lato', sans-serif; */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #fafafa;
}
.divider{
border: 1px solid black;
height: 15rem;
border-radius: 50%;
margin: 0px 15px 0px 15px;
}

.search-loading{
  animation: rotation 1s infinite linear;
  width: 30px;
  margin-right: 10px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  40%{
    transform: rotate(90deg);
  }
  75%{
    transform: rotate(320deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* Header styling */
.header-container{
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.header-form-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

/* End header styling */

/* Form styling */
form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 120%;
  margin: auto;
  background-color: white;

  box-shadow: 0px 0px 5px #4d4d4d;
  border-radius: 20px;
  padding: 5px;
}
form > input{
  font-size: 20px;
  border: none;
  width: 100%;
  margin: auto;
  height: 2rem;
  padding: 10px;
}

form > input:focus{
  outline: none;
}
form > button{
  border-radius: 5px;
  cursor: pointer;
  height: 2rem;
  font-family: 'Lato', sans-serif;
  margin-right: 10px;
  border: none;
}

/* End Form Styling */

/* Weather info styling */

.whole-weather-container{
 padding: 1%;
 background-color: #ffffff;
 border-radius: 15px;
 box-shadow: 0px 0px 10px #4d4d4d;

 width: 30%;
 /* height: 300px; */
 height: fit-content;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.weather-container-header-container{
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.weather-container-header{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}
.weather-container-header-small{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.weather-header-icon{
 width: 50%;
 margin: auto;
 max-width: fit-content;
}

.high-low-main-temp-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.weather-main-temp{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.weather-min-high{
  text-align: center;
  font-size: 1rem;
}

.weather-main-description{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.weather-info{
  display: flex;
  align-items: center;
  
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  
  width: 250px;
  height: 100%;
}

.weather-info-row-container{
  width: 100%;
  height: fit-content;
}
.weather-info-row{
  display: flex;
  justify-content: space-between;
}

/* End Weather info styling */

/* daily Weather */
.daily-weather-container{
  position: absolute;
  right: 20%;

  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  user-select: none;
}
.daily-weather{
  box-shadow: 0px 0px 5px black;
  width: 100px;
  border-radius: 25px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}

.daily-day{
  font-weight: 600;
}

.daily-temp-desc{
  font-weight: 400;
}

.daily-weather-icon{
  border: 1px black;
  border-style: outset;
  border-radius: 50%;
  background-color: rgba(202, 202, 202, 0.5);
  max-width: 50px;
}

/* End daily Weather */

/* Hourly Weather */

.hourly-weather-container{
  padding-top: 2%;
  width: 50%;
  height: 200px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  user-select: none;
}
.hourly-weather{
  box-shadow: 0px 0px 5px black;
  width: 100px;
  height: fit-content;
  border-radius: 25px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;

  cursor: pointer;
  transition: transform 150ms ease-in-out;
}

.hourly-weather:hover{
  transform: scale(1.1, 1.1);
  transition: transform 150ms ease-in-out;
}

.hour{
  font-weight: 300;
  font-size: 15px;
}

.hourly-temp-desc{
  font-weight: 300;
}

.hourly-temp{
  font-weight: 400;
}

.hourly-weather-icon{
  border: 1px black;
  border-style: outset;
  border-radius: 50%;
  background-color: rgba(202, 202, 202, 0.5);
  max-width: 50px;
}

/* End Hourly Weather */