.settings{
    padding: 10px;
    left: 5%;
    position: absolute;
    width: 150px;
    max-height: 55px;
    transition: max-height 800ms ease-in-out;
    overflow: hidden;
}
.open{
    padding: 10px;
    left: 5%;
    position: absolute;
    width: 150px;
    max-height: 500px;
    transition: max-height 1000ms ease-in-out;
    overflow: hidden;
}

.close-menu{
    user-select: none;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 5px #4d4d4d;
    cursor: pointer;
    transition: transform 50ms ease-in-out;
    padding: 5px;
}
.close-menu:hover{
    transform: scale(1.1, 1.1);
    transition: transform 50ms ease-in-out;
}

.settings-menu > ul {
    color: rgb(255, 255, 255);
    padding: 20px 0px 20px 0px;
    list-style: none;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 5px #000000;
    border-radius: 5px;
}

ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
li > button{
    display: flex;
    align-items: center;

    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;

    background-color: #e5ebed;
    border: 1px solid #4d4d4d;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    transition: background-color 200ms ease-in-out;
}
li > button:hover{
    background-color: #caccce;
    transition: background-color 200ms ease-in-out;
}
li > button:active{
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px black;
}
.location-pin{
    font-size: 15px;
}
.f-or-c{
    cursor: pointer;
}